body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        color: #333;
    }

.container {
    max-width: 800px;
    margin: 30px auto;
    background: #fff;
    padding: 40px;
    box-shadow: 0px 0px 50px rgba(104, 105, 90, 0.938);
    border-radius: 12px;
}

header {
    text-align: center;
    border-bottom: 2px solid #3498db;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

nav ul {
  display: flex;   /* Выстраивает элементы в линию */
  justify-content: space-between;
  list-style: none;   /* Убирает маркеры (точки) списка */
  padding: 0;
  margin: 0;
  background-color: #0bcde7;   /* Цвет фона меню */
}

nav ul li a {
  display: block;           /* Делает всю область ссылки кликабельной */
  padding: 15px 20px;       /* Внутренние отступы */
  color: white;             /* Цвет текста */
  text-decoration: none;    /* Убирает подчеркивание */
  transition: 0.3s;         /* Плавность при наведении */
}

a:hover {
  background-color: #555;   /* Эффект при наведении */
}

.avatar img {
  width: 40%;
  height: 40%;
    box-shadow: 0px 0px 50px rgba(220, 234, 25, 0.938);
    border-radius: 50%;
}

